/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20-mar-2018, 19:25:56
    Author     : Jose María Cagigas Céspedes
*/
@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=entypo);

html, body {
    height: 100%;
}
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
#administracion{
    padding: 30px;
    text-align: center;
}
.container{
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    top: 60px;
    left: 0;
    bottom: 40px;
    padding: 25px 10px 0 10px;
    margin: 0 auto;
}

.container_cuerpo{
    float:left;
    background-color: white;
    width: 80%;

}
.container_menu {
    background-color:white;
    width: 20%;
    float: left;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.8em;

}

#menu2 a { text-decoration: none; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after { clear: both; }


.simbolo {
    background-color: #E97D4D;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #ecf0f1;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    min-width: 12px;
    margin-top: 8px;
    padding: 0 6px;
    text-align: center;
}


#menu2 {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 10px auto;
    width: 90%;
}

#menu2 header {
    background-color: #1776fe;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #ecf0f1;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#menu2 ul {
    background-color: #ecf0f1;
}

#menu2 ul li {
    border-bottom: 1px solid #a6a8a9;
    color: #776b6c;
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    list-style-type: none;
}

#menu2 ul li:hover {
    background-color: #1776fe;
    color: #ecf0f1;
}

#menu2 ul li:hover a {
    color: #ecf0f1;
}

#menu2 ul li span[class*="entypo"] {
    display: inline-block;
    padding-right: 18px;
    width: 16px;
}

#menu2 ul li a {
    color: #3e4146;
}

#menu2 ul li span[class*="simbolo"] {
    float: right;
}

#menu2 footer {
    background-color: #ecf0f1;
    color: #3e4146;
    height: 50px;
    line-height: 50px;
    padding-left: 24px;
    bottom:50px;
}

#menu2 footer a {
    color: #3e4146;
}

#menu2 footer span[class*="entypo"] {
    padding-left: 8px;
}
#wrapper{
    width: 100%;
    background-color: #f5f3f1;
    height: auto;
    padding: 10px;
    margin: 10px 0 0 10px;
}

#col_left, #col_right{
    float: left;
    background: white;
    padding: 10px;
    width: 49%;
    margin: 10px 5px;
    border: thin solid #1776fe;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
.informacion{
    width: 80%!important;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
#paginador{
    width: 80%;
    margin: 10px;
}
.botonPaginador{
    margin: 5px;
}

#overbox3 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
}
#infobox3 {
    margin: auto;
    position: relative;
    top: 0px;
    height: 58px;
    width: 100%;
    text-align:center;
    background-color: #eeeeee;
}
#infobox3 p {
    line-height:58px;
    font-size:12px;
    text-align:center;
}
#infobox3 p a {
    margin-right:5px;
    text-decoration: underline;
}