.txt{
	font-size : 45px;
	color : #000000;
	padding: 15px 30px;
}

.txtFestivo{
	font-size : 50px;
	color : #8C0000;
	padding: 15px 30px;
}

.titulo{
	font-size : 55px;
	color : #FFFFFF;
	padding: 30px;
}
.tabla{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-size: 25px;
}
.tabla b{
	font-size: 40px;
	color: greenyellow;
}
.tabla td{
	font-size: 30px;
}
#calendario{
	width: 75%;
	padding: 10px;
	margin: 0px auto;
}
