/*formulario*/
input[type=text], input[type=date], input[type=time], input[type=email],select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    height: 100px;
}

input[type=button] {
    background-color: #FF8C15;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #FFB321;
}
#form_user{
    padding: 20px;
}

/*tablas*/

table.blueTable {
    border: 1px solid #1776fe;
    border-radius: 4px;
    background-color: #EEEEEE;
    width: 97%;
    text-align: left;
    margin: 10px;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.blueTable tbody td {
    font-size: 15px;
    padding: 5px;
}
table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.blueTable thead {
    background: #1776fe;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1776fe 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1776fe 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1776fe 100%);
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px;
    border-left: 2px solid #D0E4F5;
    background:#1776fe;
}
table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}
table.blueTable tfoot td {
    font-size: 18px;
    padding: 5px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
    background: #1776fe;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}
#acciones{
    width: 50px!important;
    height: 50px!important;
    padding: 5px!important;
    display:block!important;
    margin:auto!important;
}

.avisos_legales {
    padding: 20px!important;
    width: 100%!important;
    background-image: url('../img/fondo_logo2.png');
    background-repeat: no-repeat;
}
.avisos_legales h1{
    text-align: center!important;
    padding: 10px!important;
}
.avisos_legales p{
    font-size: 15px!important;
    text-align: left!important;
    line-height: 2em!important;
}
.avisos_legales  ul li{
    padding-left: 30px!important;
    font-size: 15px!important;
    text-align: left!important;
    line-height: 2em!important;
    list-style: none!important;
}
.error_legal {
    padding-left: 3px;
    padding-right: 3px;
}
