@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto', sans-serif;
}

/*| Navigation |*/
#menu{
    float: left;
    height: 100px;
}
#menu #logo{
    width: 250px;
    position: fixed;
    height: auto;
    margin: 10px 20px 10px 20px;
    z-index: 1000;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
    z-index: 10;
}
nav ul{
    list-style: none;
    position: relative;
    float: right;
    margin-right: 50px;
    display: inline-table;
}
nav ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li:hover{background: #1776fe;}
nav ul li:hover > ul{display: block;}
nav ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
nav ul li a{
    display: block;
    padding: 30px 20px;
    color: #1776fe;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
}
nav ul li a:hover{
    color: #fff;
}
nav ul ul{
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
}
nav ul ul li{float: none; position: relative;}
nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
nav ul ul ul {
    position: absolute;
    left: 100%;
    top:0;
}

#search {
    width: 300px;
    margin: 10px;
}
#search_text{
    width: 265px;
    padding: 15px 0 15px 20px;
    font-size: .9em;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #1776fe;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}

#search_button {
    border: 0 none;
    background-color: #1776fe;
    width: 35px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}
